<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario de registro de noticia</title>
</head>
<body>
    <h1>Formulario de registro de noticia</h1>

    <p>La noticia <strong>@TempData["noti"]</strong> ha sido registrada satisfactoriamente.</p>
</body>
</html>