@model PortalNoticias.Models.Noticia;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Formulario de registro de noticia</h1>

    <form action="~/home/registrarnoticia" method="post">

        <div>
            <label>Título:</label>
            <input type="text" name="Titulo">
        </div>
        <div>
            <label>Descripción:</label>
            <textarea name="Descripcion"></textarea>            
        </div>
        <button>Registrar noticia</button>
    </form>
</body>
</html>